<a href="https://colab.research.google.com/github/AnilUpad/anil-complete-python-/blob/main/anil_complete_python_cource.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Variables and operators in python

# Variables

python varoables is containers that store values. python is not statically typed we do not need to declare variable before using them to declare their typpe. it is a basic unit of storage in a program

# Variable names

# A variable can have a short name (like x and y) or a more descriptive name (age,carname,total_volume).Rules for python variables.

.variable name must start with a letter or the unerscore charecter
.A variable name cannot start with a number
.A variable name can only contain alpha numeric charecters and underscore (A-z,0-9, and _)

In [ ]:
x = 5
y = "john"
print(x)
print(y)

5
john

In [ ]:
a = 1
print(a)

1

In [ ]:
b = 2
c = 2.3
print(b,c)

2 2.3

In [ ]:
x = "apple"
print(x)

apple

In [ ]:
student = 23
print(student)

23

In [ ]:
student123 = 25
print(student123)

25

In [ ]:
_a = 5
print(_a)

5

# many values to multiple values

In [ ]:
x,y,z = "orange","banana","cherry"
print(x,y,z)

orange banana cherry

In [ ]:
x = y= z = "orange"
print(x)
print(y)
print(z)

orange
orange
orange

# python output variables

In [ ]:
x = "python"
y = "is"
z = "amazing"
print(x,y,z)

print()

print(x)
print(y)
print(z)

python is amazing

python
is
amazing

# Data Types

# variables can store the data of different types and different types can do different

Test type : str

Numeric types : int , float, complex

sequence type : list,tuple,range

Mapping type : dictionary

set Ttypes : set frozenset

boolean type : bool

Binary types : bytes, bytearray,memoryview

In [ ]:
x = 2
print(x)
print(type(x))

2
<class 'int'>

In [ ]:
y = 4.5
print(y)
print(type(y))

4.5
<class 'float'>

In [ ]:
z = 2+5j
print(z)
print(type(z))

(2+5j)
<class 'complex'>

In [ ]:
a = "this is the day 2 of python class"
print(a)
print(type(a))

this is the day 2 of python class
<class 'str'>

In [ ]:
b = [1,2,3,4.5,6,7,8,9,10]
print(b)
print(type(b))

[1, 2, 3, 4.5, 6, 7, 8, 9, 10]
<class 'list'>

In [ ]:
b = (1,2,3,4.5,6,7,8,9,10)
print(b)
print(type(b))

(1, 2, 3, 4.5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [ ]:
%whos

Variable     Type       Data/Info
---------------------------------
a            str        this is the day 2 of python class
b            tuple      n=9
c            float      2.3
student      int        23
student123   int        25
x            int        2
y            float      4.5
z            complex    (2+5j)

# operators in python

Operators: These are the special symbols.Eg +,*,/,-

# Types of operators in python

Arithmetic operators
Comparision operators
Logical operators
Bitwise operators
Assignment operators
identify operators and memebership operators

In [ ]:
a= 5
b= 4
print(a+b)

9

In [ ]:
a= 4
b = 2.5
print(a+b)

6.5

In [ ]:
a = 5 + 2j
b = 4
print(a+b)

(9+2j)

In [ ]:
a = "hello"
b = "student"
print(a+b)

hellostudent

In [ ]:
a = 15
b = 16
print(a-b)

-1

In [ ]:
a = 5+6j
b = 3
print(a-b)

(2+6j)

In [ ]:
a = 15
b = 56
print(a*b)

840

In [ ]:
a = 46.654
b = 34.645
print(a*b)

1616.3278300000002

In [ ]:
a = 10
b = 5
print(a/b)

2.0

# modulas(reaminder)

In [ ]:
a = 19
b = 3
print(a%b)

1

In [ ]:
a = 12
b = 4
print(a%b)

0

# exponent

In [ ]:
a = 41256789
print(a**55)

71162028433520217717099884851404495326786614148274137562533191244754226421072922193229393035406290047490322006127486170528820460414671897074184746917638236810663780872933871199771053029074871072046645088603300420278272474373361352870797685329285463690039885441075398107839063255747535400015566353549647882767414182717586010912021318113386679928289227315380064286145450539958069165193638416244911434618495833200180049949

In [ ]:
a = ((859*78)+(78.256/89)+(856**67)+(145698-7526))
print(a)

2.990489165920469e+196

# Types of function in python

. Built in functions in python
. Python Recursive function
. python Lambda  function
. User defined function

built in function in python

#abs()function(it show absolute value)

In [ ]:
x = abs(-7.25)
print(x)

7.25

In [ ]:
y = abs(-8)
print(y)

8

In [ ]:
z = abs(3+5j)
print(z)

5.830951894845301

Binary function

In [ ]:
x = bin(12)
print(x)

0b1100

In [ ]:
y = bin(36)
print(y)

0b100100

In [ ]:
z = bin(56)
print(z)

0b111000

Bytes function

In [ ]:
x = bytes(4)
print(x)

b'\x00\x00\x00\x00'

In [ ]:
y = bytes(16)
print(y)

b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'

charecter function

In [ ]:
x = chr(98)
print(x)

b

In [ ]:
y = chr(96)
print(y)

`

Complex function

In [ ]:
x = complex(3,5)
print(x)

(3+5j)

In [ ]:
y = complex(2.5,3.96)
print(y)

(2.5+3.96j)

In [ ]:
z = complex('2')
print(z)

(2+0j)

Float Function

In [ ]:
x = float(3)
print(x)

3.0

In [ ]:
y = float(3.56)
print(y)

3.56

int function

In [ ]:
x = int(12)
print(x)

12

In [ ]:
y = int(12.56)
print(y)

12

string() function

In [ ]:
a = str("25.68")
print(a)
print(type(a))

25.68
<class 'str'>

help()function

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
help(float)

Help on class float in module builtins:

class float(object)
 |  float(x=0, /)
 |
 |  Convert a string or number to a floating point number, if possible.
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __ceil__(self, /)
 |      Return the ceiling as an Integral.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(self, /)
 |      Return the floor as an Integral.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Formats the float according to format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __round__(self, ndigits=None, /)
 |      Return the Integral closest to x, rounding half toward even.
 |
 |      When an argument is passed, work like built-in round(x, ndigits).
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(self, /)
 |      Return the Integral closest to x between 0 and x.
 |
 |  as_integer_ratio(self, /)
 |      Return integer ratio.
 |
 |      Return a pair of integers, whose ratio is exactly equal to the original float
 |      and with a positive denominator.
 |
 |      Raise OverflowError on infinities and a ValueError on NaNs.
 |
 |      >>> (10.0).as_integer_ratio()
 |      (10, 1)
 |      >>> (0.0).as_integer_ratio()
 |      (0, 1)
 |      >>> (-.25).as_integer_ratio()
 |      (-1, 4)
 |
 |  conjugate(self, /)
 |      Return self, the complex conjugate of any float.
 |
 |  hex(self, /)
 |      Return a hexadecimal representation of a floating-point number.
 |
 |      >>> (-0.1).hex()
 |      '-0x1.999999999999ap-4'
 |      >>> 3.14159.hex()
 |      '0x1.921f9f01b866ep+1'
 |
 |  is_integer(self, /)
 |      Return True if the float is an integer.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __getformat__(typestr, /) from builtins.type
 |      You probably don't want to use this function.
 |
 |        typestr
 |          Must be 'double' or 'float'.
 |
 |      It exists mainly to be used in Python's test suite.
 |
 |      This function returns whichever of 'unknown', 'IEEE, big-endian' or 'IEEE,
 |      little-endian' best describes the format of floating point numbers used by the
 |      C type named by typestr.
 |
 |  __setformat__(typestr, fmt, /) from builtins.type
 |      You probably don't want to use this function.
 |
 |        typestr
 |          Must be 'double' or 'float'.
 |        fmt
 |          Must be one of 'unknown', 'IEEE, big-endian' or 'IEEE, little-endian',
 |          and in addition can only be one of the latter two if it appears to
 |          match the underlying C reality.
 |
 |      It exists mainly to be used in Python's test suite.
 |
 |      Override the automatic determination of C-level floating point type.
 |      This affects how floats are converted to and from binary strings.
 |
 |  fromhex(string, /) from builtins.type
 |      Create a floating-point number from a hexadecimal string.
 |
 |      >>> float.fromhex('0x1.ffffp10')
 |      2047.984375
 |      >>> float.fromhex('-0x1p-1074')
 |      -5e-324
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  real
 |      the real part of a complex number

input()function

In [ ]:
x = input("Enter your name")
print(x)

Enter your nameanil
anil

In [ ]:
x = input("enter your age")
print("your age is",x)

enter your age21
your age is 21

### **Control Flow Statement in python **

there are two words the first is flow and the second is control from a technical prespective , we cam say that flow is nothing but many statements consisting of multiples operations which need tobe executed . for example adding 10 numbers and finding the mean of the number.

there are three types of control flow staement

1. Conditional statement
2. Transfer statements
3. iterative statements

1. conditional Statements

. if
. if-else
. if-elif-else
. nested if-else

2.Transfer Statements
. break
. continue
. pass

3. iterative statements
. for
. while

if statements : the if statement is the most simple decision making statement it is used to decide wheather a certain statement or block of statement will be executed or not

syntax:
if condition
   statement1
 statement2

Write a program to calculate the percentage of a student in the subjects maths , science , social , english , and hindi

In [2]:
x = input("Enter the name of the student")
a = int(input("enter the maerks scored in english"))
b = int(input("enter the maerks scored in maths"))
c = int(input("enter the maerks scored in social"))
d = int(input("enter the maerks scored in hindi"))
e = int(input("enter the maerks scored in science"))
n = ((a+b+c+d+e)/500)*100
print("the percent scored by student is ", n)

Enter the name of the studentanil
enter the maerks scored in english87
enter the maerks scored in maths94
enter the maerks scored in social86
enter the maerks scored in hindi90
enter the maerks scored in science69
the percent scored by student is  85.2

In [6]:
a = int(input("enter the percentage scored by a student"))

if a>=90:
   print("A grade")
if a>=75 and a<90:
   print("B grade")
if a>=65 and a<=75:
   print("C grade")

enter the percentage scored by a student75
B grade
C grade

## If else statement

write a program to display hello if number entered by a user is a multiple of 5 else print bye

In [10]:
a = int(input("enter the number "))
if a%5==0:
    print("hello")
else:
    print("bye")

enter the number 45
hello

In [11]:
a = int(input("enter the number "))
if a>0:
    print("positive number")
else:
    print("negative number")

enter the number 25
positive number

## if elif else statement

 accept the city and print its monument:
  Delhi - Red fort
  Agra - Taj Mahal
  Jaipur - jalmehal
  Orissa - Konak Temple
  Hydherabad - charminar
  Other - Record not found

In [18]:
city = input("enter the city")
if city == "Delhi":
    print("The monument in Delhi is Redfort")
elif city == "Agra":
    print("The monument in Agra is Tajmahal")
elif city == "jaipur":
   print("The monument in jaipur is jalmahal")

enter the cityAgra
The monument in Agra is Tajmahal